@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* source/d41f1f4cfff01186.css */
body,
html {
    max-width: 100%;
    height: 100%
}

body {
    margin: 0;
    font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

@media (hover: none) and (pointer:coarse) {
    body {
        margin: 0;
        font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, Helvetica Neue, Segoe UI, Apple SD Gothic Neo, Noto Sans KR, Malgun Gothic, sans-serif !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        max-width: 100%;
        max-height: 100vh;
        overflow-x: hidden
    }
}

.dots_custom {
    position: absolute;
    top: -12px;
    right: 0
}

.dots_custom li {
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 0 6px;
    padding: 0
}

.dots_custom li button {
    border: none;
    background: #c4c4c4;
    color: transparent;
    cursor: pointer;
    display: block;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    padding: 0
}

.dots_custom li.slick-active button {
    background-color: #6d6d6d
}

#cms-cta p {
    white-space: pre-wrap;
    margin: 0
}

.healthlab-container p,
.healthlab-container span {
    line-height: 1.5em !important;
    letter-spacing: -.04em !important
}
/*  */

/* navbar-start */
/* .lnRYDu {
    position: fixed;
    left: 0px;
    bottom: 42px;
    width: 100%;
    right: 0px;
    z-index: 101;
} */
/* .ZMUhG {
    max-width: 480px;
    height: 68px;
    margin: 0px auto;
    position: relative;
    box-sizing: border-box;
    padding: 0px 30px;
} */
/* .UPVQX {
    background: rgba(0, 0, 0, 0.88);
    border-radius: 27px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 30px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 0px;
    place-items: center;
    -webkit-box-align: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
} */
/* .ffDKDR {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    opacity: 0.4;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.08em;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
}
.kHHtDA {
    color: rgb(255, 255, 255);
    text-decoration-line: none;
}
.ffDKDR::after {
    position: absolute;
    content: " ";
    margin: 6px auto 0px;
    background: rgb(255, 255, 255);
    width: 4px;
    height: 4px;
    border-radius: 4px;
    bottom: -9px;
    left: 0px;
    right: 0px;
    opacity: 0;
}
.kHHtDA {
    color: rgb(255, 255, 255);
    text-decoration-line: none;
}
.dOcGrH {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    opacity: 1;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.08em;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
}

.dOcGrH::after {
    position: absolute;
    content: " ";
    margin: 6px auto 0px;
    background: rgb(255, 255, 255);
    width: 4px;
    height: 4px;
    border-radius: 4px;
    bottom: -9px;
    left: 0px;
    right: 0px;
    opacity: 1;
}
.ffDKDR {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    opacity: 0.4;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.08em;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
}
.kHHtDA {
    color: rgb(255, 255, 255);
    text-decoration-line: none;
}
.ffDKDR::after {
    position: absolute;
    content: " ";
    margin: 6px auto 0px;
    background: rgb(255, 255, 255);
    width: 4px;
    height: 4px;
    border-radius: 4px;
    bottom: -9px;
    left: 0px;
    right: 0px;
    opacity: 0;
} */

/* navbar-end */


.cPzvAQ {
    z-index: 100;
    margin: 0px auto -60px;
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    display: flex;
    max-width: 560px;
    height: 60px;
    padding-left: 0px;
    padding-right: 0px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(240, 241, 244);
}

.eKEKzS {
    display: flex;
    width: calc(100% - 48px);
    max-width: 1200px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.hvyRya {
    height: 18px;
}

.krcNLi {
    height: 18px;
}

.krcNLi > img {
    overflow: clip;
}

.cnjvNT {
    position: absolute;
    right: 10px;
    height: 40px;
    min-width: 165px;
    width: 165px;
    background: white;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border: 1px solid rgb(240, 241, 244);
}
.dIlYUC {
    border: none;
    background: none;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    padding-left: 20px;
}

.dIlYUC::placeholder {
    color: rgb(164, 164, 164);
}



.jOefj {
    border: none;
    margin-left: auto;
    width: 40px;
    height: 38px;
    background-image: url(/icon/ico_search.svg);
    background-position: 6px 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    flex-shrink: 0;
}


.gxBqoT {
    max-width: 560px;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    padding-top: 60px;
}

.gVBigp {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 150px;
    background: rgb(240, 241, 244);
    text-decoration-line: none;
}

.gVBigp {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 150px;
    background: rgb(240, 241, 244);
    text-decoration-line: none;
}
.cTUZbb {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.gZaVGz {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 10px;
    margin: 10px 0px;
}
.gZaVGz h3 {
    margin: 0px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -0.06em;
}
.bVWcNd {
    font-size: 13px;
    line-height: 18px;
    color: rgb(109, 109, 109);
    font-weight: 400;
    letter-spacing: -0.06em;
    text-align: right;
}

.kFuSCc {
    display: flex;
    position: relative;
}

.gBzVTZ {
    display: flex;
    cursor: pointer;
    color: rgb(47, 47, 47);
}

.hTqGrd {
    width: 14px;
    background-image: url(/icon/ico_arrow_down.svg);
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0px 2px;
}
.iyWawT {
    position: absolute;
    white-space: nowrap;
    margin-top: 25px;
    background: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 30px;
    right: 3px;
    display: none;
    flex-direction: column;
    gap: 10px;
    z-index: 2;
}
.jXVId {
    color: rgb(0, 0, 0);
    font-weight: 600;
    letter-spacing: -0.04em;
}

.kmMfvL {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    min-height: 50vh;
}

.eJGcif {
    display: block;
    text-decoration-line: none;
    color: black;
    cursor: pointer;    
}
.kuDzbS {
    box-sizing: border-box;
    width: 100%;
    background-color: rgb(223, 229, 243);
    border-radius: 24px;
    height: auto;
    position: relative;
    padding: 15px;
}
.ZfNgJ {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 2px;
    font-weight: 400;
    align-items: flex-end;
    z-index: 1;
}
.qsUJr {
    display: inline-block;
    background-color: rgb(52, 120, 246);
    color: white;
    height: 28px;
    line-height: 28px;
    padding: 0px 10px 0px 5px;
    border-radius: 14px;
    border: 1px solid rgb(52, 120, 246);
    font-size: 13px;
}
.bsxeNV {
    width: 18px;
    vertical-align: middle;
    height: 18px;
    margin-bottom: 3px;
    transform: rotate(0deg);
}



.gNSXTQ {
    position: relative;
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: row;
}
.gZuViL {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    height: auto;
    padding: 15px;
    z-index: 1;
}
.bDFxlP {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
}
.gYILjN {
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    margin: 0px;
}
.gYILjN a {
    text-decoration: none;
}
.ceIYlQ {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.04em;
    color: rgb(109, 109, 109);
    margin: 0px 0px 0px 5px;
}


.jbliwg {
    font-size: 14px;
    color: rgb(52, 120, 246);
    line-height: 20px;
}
.jRCJUF {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.06em;
    color: rgb(109, 109, 109);
    margin-top: 5px;
}
.dODJST {
    vertical-align: middle;
    margin-right: 5px;
}




.cMAIBX {
    position: absolute;
    background-image: url(https://d2z2hg32ezl0nv.cloudfront.net/prod/doctor_image/a9d84483-ca64-463a-8fb0-023b50eb9c2a.png?Expires=1684524128&Signature=BEc2~gCaShcp~8JIj2bDX~3pqGw8Q7y4bilgrRVgpYSYyRNVA3OF2AscF42~qe1HK0wRNTBTp615bhakMUZPK-oTmrNywXvNtGAISdr0agHURdKqahkTpzx8-S3SSPkytnYtnPjoXrgTCj7uc73M~229rJXB5umO75lyWzkWze25uqPw4dObvsTcdE-EYatqMKxyA2IAZ31bGPgo24IVBiFBsVBL9yAmc5d5zaJkRTHclaM15wX-zfv3b-CzmApcuA4rsjOAdqa6YLoE904ahHHc6WPgefIAh5MsjScyuT0K-lAmTTbP1n7JYyj8pNRoEYoZ9NZE3pHI4i8vD4tfiw__&Key-Pair-Id=K1KBD7YCR39R8N);
    top: 0px;
    left: 0px;
    right: 0px;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
}
.cMAIBX2 {
    position: absolute;
    background-image: url(https://d2z2hg32ezl0nv.cloudfront.net/prod/doctor_image/d2ee5a32-8cb8-4faa-8c22-a8be2c5e013c.png?Expires=1684524128&Signature=eGsFJpGxXIiqRgRixWoSzvQOwRT05FmDsOoufrcFRdbagy-p99VY91EDfGa~dTpsw4oKFl8-EuJjBQjHZHLfcWPxdIrNR7JMhQrVmyD0uj-fYtIOZiQvdXm5NYu~irLxB7nIYcYhhEnuf-Ypx5SfvaUp0IBIbg2U6HDq14tt2Rw0K~EcFwMXLmaNV4kZ~PLcx~HY7FBhLe2ZTNN8O1z-FPK6m3HYd8-mmfsxia3p4H1pE1gGZOgYIGg6nIVUAsRIjLPQVN0GLUTCVyKijWD-KFvJIW~pa4UZcXRP281DByJF3D5HD0FOSwwPyN9~TuierfKSbaqhf22L1OBeOEll3g__&Key-Pair-Id=K1KBD7YCR39R8N);
    top: 0px;
    left: 0px;
    right: 0px;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 0;
}

.bEAEpz {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 2px;
    font-weight: 400;
    z-index: 1;
}
.bEAEpz {
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    gap: 2px;
    font-weight: 400;
    z-index: 1;
}
.fvXqNb {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0px 10px;
    border-radius: 14px;
    border: 1px solid rgb(52, 120, 246);
    color: rgb(52, 120, 246);
    font-size: 13px;
}


.bDSdmt {
    padding: 20px 0px;
}   
.fhmpgw {
    display: flex;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
    background: transparent;
    font-weight: 600;
}
.fhmpgw a {
    font-size: 12px;
    letter-spacing: -0.04em;
    text-decoration: none;
}
.fMJcBO {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(52, 120, 246);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.06em;
}


.ezhEkD {
    max-width: 560px;
    display: flex;
    margin: 0px auto;
    left: 0px;
    right: 0px;
    width: 100%;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(47, 47, 47);
}
.eWZiGA {
    max-width: 1200px;
    padding: 0px 20px;
}
.cmDwjO {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: rgb(255, 255, 255);
    margin-top: 100px;
}
.irWiJT {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgb(255, 255, 255);
}
.cvMQox {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cyoRey {
    width: 28px;
    height: 28px;
    margin-right: 16px;
    cursor: pointer;
}
.jHgOIQ {
    display: flex;
    flex-direction: row;
    height: 28px;
    -webkit-box-align: center;
    align-items: center;
}
.iLhzCT {
    font-weight: 400;
    font-size: 13px;
    color: rgb(255, 255, 255);
    height: 28px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}
.hmTAkZ {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 12px;
    margin: 0px 8px;
    height: 28px;
    padding-bottom: 2px;
}
.iLhzCT {
    font-weight: 400;
    font-size: 13px;
    color: rgb(255, 255, 255);
    height: 28px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}
.iLhzCT {
    font-weight: 400;
    font-size: 13px;
    color: rgb(255, 255, 255);
    height: 28px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}
.hmTAkZ {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 12px;
    margin: 0px 8px;
    height: 28px;
    padding-bottom: 2px;
}

.jHgOIQ {
    display: flex;
    flex-direction: row;
    height: 28px;
    -webkit-box-align: center;
    align-items: center;
}
.iLhzCT {
    font-weight: 400;
    font-size: 13px;
    color: rgb(255, 255, 255);
    height: 28px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.jVIncQ {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: rgb(255, 255, 255);
}




a {
    text-decoration: none;
}